{% extends "base.html" %}

{% block extrahead %}
  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.www.nodespace.com"]);
    _paq.push(["setDomains", ["*.www.nodespace.com","*.learn.nodespace.com","*.my.nodespace.com"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//stats.nodespace.com/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//stats.nodespace.com/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Matomo Code -->
{% endblock %}

{% block announce %}
  <strong>Our new documentation site is in Preview.</strong> Found a bug or issue? <a href="https://bugzilla.nodespace.com/enter_bug.cgi?product=nodespace-learn&component=documentation">Report it!</a>
{% endblock %}